<!DOCTYPE html>
<html>

<head>
    <title>AI Meeting Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🎤 AI Meeting Assistant</h1>

        <p>
            Upload your meeting audio and get
            transcript, summary and action items.
        </p>

        <form action="/upload" method="POST" enctype="multipart/form-data">

            <input type="file" name="audio">

            <br><br>

            <button type="submit">
                Upload Meeting Audio
            </button>

        </form>

    </div>

</body>

</html>