<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Meeting Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <div class="header">

            <h1>🎤 AI Meeting Assistant</h1>

            <p>
                Upload your meeting audio and instantly get
                Transcript, Summary and Action Items.
            </p>

        </div>

        <div class="upload-card">

            <form action="/upload"
                  method="POST"
                  enctype="multipart/form-data">

                <input type="file"
                       name="audio"
                       required>

                <br><br>

                <button type="submit">

                    🚀 Upload & Analyze

                </button>

            </form>
            {% if transcript %}

<div class="result-card">

    <h2>🎤 Transcript</h2>

    <p>{{ transcript }}</p>

</div>

{% endif %}


{% if summary %}

<div class="result-card">

    <h2>📝 Summary</h2>

    <p>{{ summary }}</p>

</div>

{% endif %}


{% if actions %}

<div class="result-card">

    <h2>✅ Action Items</h2>

    <ul>

        {% for item in actions %}

        <li>{{ item }}</li>

        {% endfor %}

    </ul>

</div>

{% endif %}

        </div>

    </div>

</body>

</html>